:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body,
.container {
    display: flex;
    justify-content: center;
    align-items: center
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/09/10/39/christmas-2933008_960_720.jpg");
    background-size:cover;
    height: 100vh;
    filter: drop-shadow(0 0 30px white);
}

.container {
    position:relative;
    background: rgba(3, 166, 0, 0.47);
    color: white;
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    font-size: 35px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	border: solid #FF032D 3px;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 50); /* // for IE8 */
	filter: alpha(opacity= 50); /* //for IE5-7 */
    
}

.material-icons-outlined {
    padding-top: 5px;
    margin: 0;
    font-size: 30px;
}

button {
    padding: 0.25em 0.5em;
    border: none;
    font-size: 1.2rem;
    background-color: var(--dark-green);
    color: var(--snow);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02)
}

.pause-btn {
    background-color: var(--gold);
    color: var(--wine-red)
}

.stop-btn {
    background-color: var(--wine-red);
}

.box1 img {
    width:80px;
    height:auto;
    position: absolute;
    top:-50px;
    right:-30px;
}
.box2 img {
    width:80px;
    height:auto;
    position: absolute;
    top:-50px;
    left:-30px;
}

.songselect{
    font-size:22px;
    
}

#songs {
    font-size:22px;
    background-color: var(--wine-red);
    padding:3px;
    color:white;
}

#volume-control {
    color:red;
    background-color: var(--wine-red);
    margin-top:30px;
}


/* Box Animation */

.animatebox {
-webkit-animation: cssAnimation 0.4615s 16 ease;
-moz-animation: cssAnimation 0.4615s 16 ease;
-o-animation: cssAnimation 0.4615s 16 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(1.072) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(1.072) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(1.072) skew(1deg) translate(0px); }
}